.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}
.warning{
    display: block !important;
    text-align: center;
}

.form-container{
    width: 400px;
    margin: auto;
}

.form-window{
    margin-top: 50px !important;
}
#root{
    background-color: aliceblue;
    min-height: 100vh;
}
.window-wrapper{
    min-height: 70vh;
}

.title{
    text-align: center;
    width: 100%;
}
.footer{
    background-color: white;
    align-items: center;
    padding: 30px;
    width: 100% !important;
    margin: auto;
}
.footer-wrapper{
    text-align: center;
    height: 100px;
    
    margin: auto;
}

